<div class="container">
  <div class="left">
    <label for="id">Enter id:</label>
    <input id="id" type="text" [(ngModel)]="id" />
    <label for="title">Enter title:</label>
    <input id="title" type="text" [(ngModel)]="title" />
    <label for="posterUrl">Enter poster url:</label>
    <input id="posterUrl" type="text" [(ngModel)]="posterUrl" />
    <label for="amountEpisodes">Enter amount episodes:</label>
    <input id="amountEpisodes" type="text" [(ngModel)]="amountEposodes" />
  </div>
  <div class="right">
    <label for="releaseYear">Enter release year:</label>
    <input id="releaseYear" type="text" [(ngModel)]="releaseYear" />
    <label for="rating">Enter rating:</label>
    <input id="rating" type="text" [(ngModel)]="rating" />
    <label for="description">Enter description:</label>
    <input id="description" type="text" [(ngModel)]="description" />
    <label for="ageRestriction">Enter age restriction:</label>
    <input id="ageRestriction" type="text" [(ngModel)]="ageRestriction" />
  </div>
</div>

<div class="actions">
  @if (action === "add") {
    <button (click)="addFilm()" class="addBtn">Add</button>
  } @else {
    <button (click)="updateFilm()" class="updateBtn">Update</button>
  }
</div>

<table>
  <thead>
    <tr>
      <td>id</td>
      <td>title</td>
      <td>poster url</td>
      <td>amount episodes</td>
      <td>release year</td>
      <td>description</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    @for (film of listFilm; track $index) {
      <tr>
        <td>{{ film.id }}</td>
        <td>{{ film.title }}</td>
        <td><img [src]="film.posterUrl" alt="" /></td>
        <td>{{ film.amountEposodes }}</td>
        <td>{{ film.releaseYear }}</td>
        <td>{{ film.description }}</td>
        <td>
          <button (click)="deleteFilm(film.id)" class="deleteBtn">
            Delete
          </button>
          <button (click)="editFilm(film)" class="editBtn">Edit</button>
        </td>
      </tr>
    }
  </tbody>
</table>
